body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #eee;
	}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 50px;
	 background-color: #ffff;
      width: 350px;
    box-shadow: whitesmoke;
    height: 500px;
    border: 1px solid brown;
	}
input[type="text"] {
	width: 250px;
	height: 50px;
	font-size: 30px;
	text-align: right;
	padding-right: 10px;
	margin-bottom: 20px;
	border: none;
}
button {
	width: 80px;
	height: 80px;
	font-size: 25px;
	background-color: #fff;
	border-radius: 5px;
	
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
#ans{
    background-color: rgb(44, 81, 215);
}
